werkzeug==2.0.*
Flask==2.1.2
Flask-Cors==3.0.10
flask-talisman==1.0.0
flask-restx==0.5.1
Flask-Caching==1.11.1
Flask-Limiter==2.4.6
requests-random-user-agent==2022.6.7
bs4==0.0.1
pandas==1.4.2
numpy==1.22.4
lxml==4.9.1
PyGithub==1.55
langdetect==1.0.9
